<fieldset>
    <h3 class="border"><span>Ditta individuale</span></h3>
    <div class="row">
        <div class="col-sm-4"><label>Ditta individuale?</label></div>
        <div class="col-sm-5">
            <label class="radio radio-inline">
                <input id="Ditta-individuale1" name="Ditta-individuale" ng-model="userForm.dittaIndividuale" aria-label="Ditta-individuale" type="radio" value="S" tabindex="0">
                <span class="label">S&igrave;</span>
            </label>
            <label class="radio radio-inline">
                <input id="Ditta-individuale2" name="Ditta-individuale" ng-model="userForm.dittaIndividuale" aria-label="Ditta-individuale" type="radio" value="N" rel="#sole_trader" tabindex="0">
                <span class="label">No</span>
            </label>
        </div>
    </div>

    <div class="row" id="sole_trader" ng-show="userForm.dittaIndividuale == 'S' ">
        <div class="col-sm-4"><label>Partita Iva</label></div>
        <div class="col-sm-5">
            <div class="input-group full-width-col">
                <input type="text" id="ditta-individuale-PI" ng-model="userForm.dittaIndividualePI" name="ditta-individuale-PI" class="required" tabindex="0">
            </div>
        </div>
    </div>
</fieldset>