<fieldset>
    <h3 class="border"><span>Inserimento intestatario aggiuntivo</span></h3>
    <div class="row">
        <div class="col-sm-4"><label>Ci sono intestatari aggiuntivi?</label></div>
        <div class="col-sm-5">
            <label class="radio radio-inline">
                <input id="intestatario_aggiuntivo_S" name="intestatario_aggiuntivo" ng-model="userForm.intestatarioAggiuntivo" aria-label="intestatario_aggiuntivo" type="radio" value="S" tabindex="0">
                <span class="label">S&igrave;</span>
            </label>
            <label class="radio radio-inline">
                <input id="intestatario_aggiuntivo_N" name="intestatario_aggiuntivo" ng-model="userForm.intestatarioAggiuntivo" aria-label="intestatario_aggiuntivo" type="radio" value="N"  tabindex="0">
                <span class="label">No</span>
            </label>
        </div>
    </div>

    <!-- intestatario aggiuntivo SuB -->
    <fieldset ng-show="userForm.intestatarioAggiuntivo == 'S'" >
        <h4 class="border"><span>Dati intestatario aggiuntivo</span></h4>

        <div class="row">
            <div class="col-sm-6">

                <div class="row">
                    <div class="col-sm-5"><label>Sesso</label></div>
                    <div class="col-sm-6">
                        <label class="radio radio-inline">
                            <input id="sesso_intestatario_aggiuntivo_S" name="sesso_intestatario_aggiuntivo" aria-label="sesso_intestatario_aggiuntivo" type="radio" value="M" tabindex="0">
                            <span class="label">Maschio</span>
                        </label>
                        <label class="radio radio-inline">
                            <input id="sesso_intestatario_aggiuntivo_N" name="sesso_intestatario_aggiuntivo" aria-label="sesso_intestatario_aggiuntivo" type="radio" value="F" tabindex="0">
                            <span class="label">Femmina</span>
                        </label>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-6">

                <div class="row">
                    <div class="col-sm-5"><label>Nome</label></div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" id="nome_intestatario_aggiuntivo" name="nome_intestatario_aggiuntivo" class="required lettersonly form-control" placeholder="Mario" data-cf="nome" tabindex="0">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5"><label>Cognome</label></div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" id="cognome_intestatario_aggiuntivo" name="cognome_intestatario_aggiuntivo" class="required lettersonly form-control" placeholder="Rossi" data-cf="cognome" tabindex="0">
                        </div>
                    </div>
                </div>

               <!--<div class="row">
                    <div class="col-sm-5"><label>Data di nascita</label></div>
                    <div class="col-sm-6">
                        <div class="input-group full-width-col">
                            <input type="text" id="data-nascita_guidatore_aggiuntivo" name="data-nascita_guidatore_aggiuntivo" ng-model="guidatoreAggiuntivoAn.datadinascita" class="form-control input_date required dateFormat" placeholder="GG/MM/AAAA" data-datepicker data-date="01/04/2014" data-date-format="dd/mm/yyyy" data-dates-disabled="" data-date-days-of-week-disabled=""/>
                            <div class="datepicker-opener"></div>
                            <div>Watching data: {{ guidatoreAggiuntivoAn.datadinascita }}</div>
                        </div>
                    </div>
                </div>-->
                <!-- INPUT: Data di nascita -->

               <div class="row">
                    <div class="col-sm-5">
                        <label>Data di Nascita</label>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group full-width-col">
                            <input-date   name="data-nascita_intestatario_aggiuntivo"
                                          id="data-nascita_intestatario_aggiuntivo"
                                          required
                                          class="form-control input_date required hide dateFormat"
                                          validation-type="normal"
                                          bind-to="userForm.intestatarioAggiuntivoAn.datadinascita"
                                          placeholder="GG/MM/AAAA"
                                          data-lang="it-IT"
                                          error-class="error"
                                          data-date="01/04/2014"
                                          max="=-18y"
                                          data-datepicker
                                          model-bind="userForm.intestatarioAggiuntivoAn.datadinascita"
                                          default-error-class="ng-hide">
                                <validation key="required" error-message="errorMessage.birthdate.required"></validation>
                                <validation key="pattern" error-message="errorMessage.birthdate.invalid"></validation>
                                <validation key="invalidMax">SEI TYROPPO IN LA</validation>
                                <validation key="invalidMin">SEI TROPPO giovani</validation>
                                <input-layout>
                                    <span class="input">
                                        <input>
                                        <input type="text" id="data-nascita_intestatario_aggiuntivo_datepicker" name="data-nascita_intestatario_aggiuntivo_datepicker" model-bind="userForm.intestatarioAggiuntivoAn.datadinascita" class="form-control input_date required dateFormat" placeholder="GG/MM/AAAA" data-datepicker />
                                        <!--<input type="hidden" ng-model="userForm.intestatarioAggiuntivoAn.datadinascita" />-->
                                        <div class="datepicker-opener"></div>
                                    </span>
                                </input-layout>
                                <error-layout>
                                    <label style="display: inline-block;" ng-repeat="(key, text) in validators" class="{{hasError(key)}}" ng-bind="text"></label>
                                </error-layout>
                            </input-date>

                            <!-- <input type="text" id="data-nascita" name="data-nascita" ng-model="datadinascita" class="form-control input_date required dateFormat" placeholder="GG/MM/AAAA" data-datepicker data-date="01/04/2014" /> -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">

                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1"><label>Codice fiscale</label></div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="required codicefiscale form-control" id="cf_guidatore_aggiuntivo" name="cf_guidatore_aggiuntivo" placeholder="RSS MRA 60A01 H501 Q" data-warning="Il codice non coincide con i tuoi dati" tabindex="0">
                        </div>
                    </div>
                </div>

                <!-- SELECT: Località -->

                <div class="row">

                    <div class="col-sm-5 col-sm-offset-1">
                        <label>Comune di nascita</label>
                    </div>

                    <div class="col-sm-6">
                        <select data-placeholder="Scegli la localit&agrave;" id="" name="" class="required" tabindex="0" required>
                            <option value></option>
                            <option value="5432">ROMA</option>
                            <option value="22431">PANTANO BORGHESE</option>
                            <option value="26695">CESANO STAZIONE</option>
                            <option value="26696">CORDOLLE</option>
                        </select>
                        </select>
                    </div>


                </div>
                <!-- INPUT: Cap -->
                <div class="row">

                    <div class="col-sm-5 col-sm-offset-1">
                        <label>CAP</label>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" placeholder="CAP" class="required cap" id="cap_intestatario_aggiuntivo" name="cap_intestatario_aggiuntivo" tabindex="0">
                        </div>
                    </div>
                </div>

</div>

</div>
<!-- INPUT: Indirizzo -->

        <div class="row">
            <div class="col-sm-2">
                <label>Indirizzo</label>
            </div>
            <div class="col-sm-10">
                <div class="row narrow">


                    <!-- SELECT: Via -->

                    <div class="col-sm-2">
                        <select id="address_type_intestatario_aggiuntivo" name="address_type_intestatario_aggiuntivo" tabindex="0" class="required">
                            <option value="0069">Alzaia</option>
                            <option value="0001">Baglio</option>
                            <option value="0002">Bastioni</option>
                            <option value="0003">Borgata</option>
                            <option value="0070">Borgo</option>
                            <option value="0007">Cala</option>
                            <option value="0008">Calle</option>
                            <option value="0009">Camin</option>
                            <option value="0010">Campiello</option>
                            <option value="0011">Campo</option>
                            <option value="0012">Carruggio</option>
                            <option value="0004">Cascina</option>
                            <option value="0005">Cascine</option>
                            <option value="0013">Circonvallazione</option>
                            <option value="0014">Contrada</option>
                            <option value="0015">Corso</option>
                            <option value="0016">Corte</option>
                            <option value="0017">Cortile</option>
                            <option value="0018">Cupa</option>
                            <option value="0021">Darsena</option>
                            <option value="0019">Diramazione</option>
                            <option value="0020">Discesa</option>
                            <option value="0022">Fondaco</option>
                            <option value="0023">Fondamenta</option>
                            <option value="0024">Fondo</option>
                            <option value="0072">Fontanelle</option>
                            <option value="0025">Frazione</option>
                            <option value="0026">Galleria</option>
                            <option value="0027">Gradini</option>
                            <option value="0028">Isola</option>
                            <option value="0029">Largo</option>
                            <option value="0030">Lido</option>
                            <option value="0034">Localita</option>
                            <option value="0036">Lungo</option>
                            <option value="0035">Lungoargine</option>
                            <option value="0031">Lungofiume</option>
                            <option value="0032">Lungolago</option>
                            <option value="0033">Lungomare</option>
                            <option value="0073">Nucleo</option>
                            <option value="0040">Palazzo</option>
                            <option value="0041">Parco</option>
                            <option value="0042">Passaggio</option>
                            <option value="0039">Piazza</option>
                            <option value="0037">Piazzale</option>
                            <option value="0038">Piazzetta</option>
                            <option value="0043">Podere</option>
                            <option value="0044">Porto</option>
                            <option value="0006">Presso</option>
                            <option value="0045">Prolungamento</option>
                            <option value="0046">Quartiere</option>
                            <option value="0047">Ramo</option>
                            <option value="0048">Regione</option>
                            <option value="0049">Residenza</option>
                            <option value="0050">Rione</option>
                            <option value="0051">Ripa</option>
                            <option value="0052">Riviera</option>
                            <option value="0054">Salita</option>
                            <option value="0055">Sestiere</option>
                            <option value="0056">Spalto</option>
                            <option value="0053">Strada</option>
                            <option value="0057">Supportico</option>
                            <option value="0058">Tenuta</option>
                            <option value="0059">Traversa</option>
                            <option value="0060">Vallone</option>
                            <option value="0061" selected>Via</option>
                            <option value="0064">Viale</option>
                            <option value="0063">Vico</option>
                            <option value="0062">Vicolo</option>
                            <option value="0066">Villaggio</option>
                            <option value="0068">Villaggio</option>
                            <option value="0065">Viuzzo</option>
                            <option value="0071">Vocabolo</option>
                            <option value="0067">Zona</option>
                        </select>
                    </div>


                    <!-- INPUT: Indirizzo -->

                    <div class="col-sm-5">
                        <div class="input-group full-width-col">
                            <input type="text" id="indirizzo_intestatario_aggiuntivo" name="indirizzo_intestatario_aggiuntivo" class="required" data-autocomplete-via="app/partials/json/data-esempio-indirizzo.json" placeholder="es. Giosuè Carducci" tabindex="0">
                        </div>
                    </div>


                    <!-- INPUT: Numero civico -->

                    <div class="col-sm-2">
                        <div class="input-group full-width-col">
                            <input type="text" class="required ncivico" id="n_civico_intestatario_aggiuntivo" name="n_civico_intestatario_aggiuntivo" placeholder="n.civico" tabindex="0">
                        </div>
                    </div>


                    <!-- INPUT: Edificio -->

                    <div class="col-sm-3">
                        <div class="input-group full-width-col">
                            <input type="text" id="edificio_intestatario_aggiuntivo" name="edificio_intestatario_aggiuntivo" placeholder="Edificio(opzionale)" tabindex="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</fieldset>
<!-- fine guidatore aggiuntivo SuB -->
</fieldset>