<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<a href="/" class="logo" target="_parent" tabindex="-1"></a>
			</div>
			<div class="col-sm-4">
				<span class="subject">
					Preventivo auto <strong>FIAT CY971ML</strong>
				</span>
			</div>
			<div class="col-sm-4">
				<div class="header_convention">
					Preventivo con convenzione Croce Rossa Italiana
				</div>
			</div>
			<div class="col-sm-2">
				<div class="welcome">
					<span class="welcome_label">Benvenuto</span>
					<span class="welcome_user_name">Mario</span>
				</div>
			</div>
		</div>
	</div>
</header>


<section class="page">
	<div class="container-fluid">

		<div class="formWrapper">
			<section class="form_step">
				<ul class="steps ul_inline three">
					<li class="done">
						<span>1. Dati polizza</span>
						<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 315 47" enable-background="new 0 0 315 47" preserveAspectRatio="none"><path fill="#004595" d="M293,47H2c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h291l22,23.5L293,47z"/></svg>
					</li>
					<li class="current">
						<span>2. Contatti</span>
						<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 315 47" enable-background="new 0 0 315 47" preserveAspectRatio="none"><polygon fill="#004595" points="293,47 0,47 22,23.5 0,0 293,0 315,23.5 "/></svg>
					</li>
					<li>
						<span>3. Riepilogo Dati</span>
						<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 315 47" enable-background="new 0 0 315 47" preserveAspectRatio="none"><path fill="#004595" d="M313,47H0l22-23.5L0,0h313c1.1,0,2,0.9,2,2v43C315,46.1,314.1,47,313,47z"/></svg>
					</li>
				</ul>
			</section>

			<section class="headmessage">
				<div class="row">
					<div class="col-sm-4">
						<h6>prezzo per te</h6>
						<b class="price">1.150,00 <span>€/anno</span></b>
					</div>
				</div>
			</section>

			<section class="form_body">
				<form class="contatti_form custom_form" data-submit-path="ajax_test.php">
					<fieldset>
						<h3 class="border"><span>Informazioni di contatto</span></h3>
						<div class="text">
							<p>Inserisci almeno un numero di telefono per contattarti se necessario</p>
						</div>
						<div class="row">

							<div class="col-sm-12">

								<div class="row">
									<div class="col-sm-2"><label>Email</label></div>
									<div class="col-sm-4">
										<div class="input-group">
											<input type="text" class="required form-control" id="email" name="email" placeholder="mario.rossi@gmail.com" tabindex="0">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-2"><label>Cellulare</label></div>
									<div class="col-sm-4">
										<div class="row narrow">
											<div class="col-xs-4">
												<div class="input-group">
													<input type="tel" class="required number form-control" id="prefisso1" name="prefisso1" placeholder="328" tabindex="0">
												</div>
											</div>
											<div class="col-xs-8">
												<div class="input-group">
													<input type="tel" class="required number form-control" id="numero1" name="numero1" placeholder="012345678" tabindex="0">
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<p class="uppercase"><small>n.b. Comunicando il numero di cellulare, autorizzi l'invio di sms di promemoria e scadenza</small></p>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-2"><label>Casa</label></div>
									<div class="col-sm-4">
										<div class="row narrow">
											<div class="col-xs-4">
												<div class="input-group">
													<input type="tel" class="required number form-control" id="prefisso2" name="prefisso2" placeholder="328" tabindex="0">
												</div>
											</div>
											<div class="col-xs-8">
												<div class="input-group">
													<input type="tel" class="required number form-control" id="numero2" name="numero2" placeholder="012345678" tabindex="0">
												</div>
											</div>
										</div>

									</div>
								</div>

							</div>

						</div>

					</fieldset>
					<fieldset class="communications">
						<h3 class="border"><span>Comunicazioni da genialloyd</span></h3>
						<div class="text">
							<p>Scegli il canale di invio tra e-mail o posta. Ti consigliamo di utilizzare il canale e-mail: avrai sempre la precedenza e le comunicazioni saranno più tempestive, non sprecherai carta ed eviterai ritardi e/o disguidi postali.</p>
							<p><b>N.B.: Il contrassegno, la carta verde e il certificato assicurativo ti verranno inviati sempre per posta prioritaria all'indirizzo di residenza. Potrai indicare un indirizzo diverso, una volta salvato il preventivo.</b></p>
						</div>
						<div class="row">
							<div class="col-sm-7">
								<div class="row">
									<div class="col-sm-6"><label>Preventivo</label></div>
									<div class="col-sm-6" data-radio-wrapper>
										<label class="radio radio-inline">
											<input id="com_preventivo1" name="com_preventivo" type="radio" value="email" tabindex="0" checked="checked">
											<span class="label">Email</span>
										</label>
										<label class="radio radio-inline">
											<input id="com_preventivo2" name="com_preventivo" type="radio" value="posta" tabindex="0">
											<span class="label">Posta</span>
										</label>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6"><label>Stipula polizza</label></div>
									<div class="col-sm-6" data-radio-wrapper>
										<label class="radio radio-inline">
											<input id="com_stipula1" name="com_stipula" type="radio" value="email" tabindex="0" checked="checked">
											<span class="label">Email</span>
										</label>
										<label class="radio radio-inline">
											<input id="com_stipula2" name="com_stipula" type="radio" value="posta" tabindex="0">
											<span class="label">Posta</span>
										</label>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6"><label>Gestione del contratto</label></div>
									<div class="col-sm-6" data-radio-wrapper>
										<label class="radio radio-inline">
											<input id="com_contratto1" name="com_contratto" type="radio" value="email" tabindex="0" checked="checked">
											<span class="label">Email</span>
										</label>
										<label class="radio radio-inline">
											<input id="com_contratto2" name="com_contratto" type="radio" value="posta" tabindex="0">
											<span class="label">Posta</span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-5">
								<div class="text">
									<p><small>In ogni momento, e senza alcun costo, potrai modificare la scelta di invio della documentazione, consultando la pagina "Dati personali" della tua Area Personale alla quali accederai al termine del salvataggio di questo preventivo.</small></p>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset class="hidden-field" id="ricevoperposta">
						<h4 class="border"><span>Informazioni sulla spedizione</span></h4>
						<div class="row">
							<div class="col-sm-6"><label>Desideri ricevere il preventivo ad un indirizzo diverso dalla tua residenza? <small>(solo ed esclusivamente questo preventivo)</small></label></div>
							<div class="col-sm-6" data-radio-wrapper>
								<label class="radio radio-inline">
									<input id="indirizzodiversoposta1" name="indirizzodiversoposta" type="radio" value="S" tabindex="0" data-show="#indirizzodiversoposta">
									<span class="label">Si</span>
								</label>
								<label class="radio radio-inline">
									<input id="indirizzodiversoposta2" name="indirizzodiversoposta" type="radio" value="N" tabindex="0" data-hide="#indirizzodiversoposta" checked="checked">
									<span class="label">No</span>
								</label>
							</div>
						</div>
						<div class="hidden-field" id="indirizzodiversoposta">
							<h5>I tuoi documenti assicurativi verranno recapitati al seguente indirizzo</h5>

							<div class="row">
								<div class="col-sm-2"> <label>Nome e Cognome</label></div>
								<div class="col-sm-10"><label class="read"><strong>Mario Rossi</strong></label></div>
							</div>

							<div class="row">
								<div class="col-sm-2"> <label>Presso</label></div>
								<div class="col-sm-2">
									<div class="input-group">
										<input type="text" id="presso" name="presso" class="form-control" placeholder="Presso" tabindex="0" >
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-2"> <label>CAP</label></div>
								<div class="col-sm-2">
									<div class="input-group">
										<input type="text" id="cap" name="cap" class="form-control" placeholder="CAP" tabindex="0" >
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-2"><label>Comune</label></div>
								<div class="col-sm-10">
									<div class="row narrow">
										<div class="col-sm-5">
											<select data-placeholder="Scegli la localit&agrave;" id="selHamlet" name="selHamlet" class="" tabindex="0">
												<option value></option>
												<option value="5432">ROMA</option>
												<option value="22431">PANTANO BORGHESE</option>
												<option value="26695">CESANO STAZIONE</option>
												<option value="26696">CORDOLLE</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-2">
									<label>Indirizzo</label>
								</div>
								<div class="col-sm-10">
									<div class="row narrow">
										<div class="col-sm-2">
											<select id="address_type" name="address_type" tabindex="0">
												<option value="0069">Alzaia</option>
												<option value="0001">Baglio</option>
												<option value="0002">Bastioni</option>
												<option value="0003">Borgata</option>
												<option value="0070">Borgo</option>
												<option value="0007">Cala</option>
												<option value="0008">Calle</option>
												<option value="0009">Camin</option>
												<option value="0010">Campiello</option>
												<option value="0011">Campo</option>
												<option value="0012">Carruggio</option>
												<option value="0004">Cascina</option>
												<option value="0005">Cascine</option>
												<option value="0013">Circonvallazione</option>
												<option value="0014">Contrada</option>
												<option value="0015">Corso</option>
												<option value="0016">Corte</option>
												<option value="0017">Cortile</option>
												<option value="0018">Cupa</option>
												<option value="0021">Darsena</option>
												<option value="0019">Diramazione</option>
												<option value="0020">Discesa</option>
												<option value="0022">Fondaco</option>
												<option value="0023">Fondamenta</option>
												<option value="0024">Fondo</option>
												<option value="0072">Fontanelle</option>
												<option value="0025">Frazione</option>
												<option value="0026">Galleria</option>
												<option value="0027">Gradini</option>
												<option value="0028">Isola</option>
												<option value="0029">Largo</option>
												<option value="0030">Lido</option>
												<option value="0034">Localita</option>
												<option value="0036">Lungo</option>
												<option value="0035">Lungoargine</option>
												<option value="0031">Lungofiume</option>
												<option value="0032">Lungolago</option>
												<option value="0033">Lungomare</option>
												<option value="0073">Nucleo</option>
												<option value="0040">Palazzo</option>
												<option value="0041">Parco</option>
												<option value="0042">Passaggio</option>
												<option value="0039">Piazza</option>
												<option value="0037">Piazzale</option>
												<option value="0038">Piazzetta</option>
												<option value="0043">Podere</option>
												<option value="0044">Porto</option>
												<option value="0006">Presso</option>
												<option value="0045">Prolungamento</option>
												<option value="0046">Quartiere</option>
												<option value="0047">Ramo</option>
												<option value="0048">Regione</option>
												<option value="0049">Residenza</option>
												<option value="0050">Rione</option>
												<option value="0051">Ripa</option>
												<option value="0052">Riviera</option>
												<option value="0054">Salita</option>
												<option value="0055">Sestiere</option>
												<option value="0056">Spalto</option>
												<option value="0053">Strada</option>
												<option value="0057">Supportico</option>
												<option value="0058">Tenuta</option>
												<option value="0059">Traversa</option>
												<option value="0060">Vallone</option>
												<option value="0061" selected="selected">Via</option>
												<option value="0064">Viale</option>
												<option value="0063">Vico</option>
												<option value="0062">Vicolo</option>
												<option value="0066">Villaggio</option>
												<option value="0068">Villaggio</option>
												<option value="0065">Viuzzo</option>
												<option value="0071">Vocabolo</option>
												<option value="0067">Zona</option>
											</select>
										</div>
										<div class="col-sm-5">
											<div class="input-group">
												<input type="text" id="indirizzo" name="indirizzo" class="form-control" data-autcomplete-via="app/partials/data-esempio-indirizzo.json" placeholder="es. Giosuè Carducci" tabindex="0">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="input-group">
												<input type="text" class="form-control" id="n_civico" name="n_civico" placeholder="n.civico" tabindex="0">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>

					<div class="stickPoint">
						<div class="form_controls sticker" >
							<div class="wrap">
								<div class="row">
									<div class="col-sm-3">
										<button class="btn btn-primary btn-submit btn-allcaps indietro" type="button" tabindex="-1"><span>&#8249;</span> Indietro</button>
									</div>

									<div class="col-sm-3 col-sm-offset-6">
										<button onclick="location.hash='/riepilogo';"class="btn btn-primary btn-submit btn-allcaps" type="submit" tabindex="0">Prosegui <span>&#8250;</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</section>

<script src="app/partials/js/main.js"></script>
<script src="app/partials/js/salvataggio-preventivo-contatti.js"></script>