<!DOCTYPE html>
<html class="no-js" lang="IT_it">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Genialloyd</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../assets/toolkit/bootstrap.css">
		<link rel="stylesheet" href="../assets/toolkit/appdesign.min.css">

		<link rel="stylesheet" href="../assets/css/vendor/chosen.min.css">
		<link rel="stylesheet" href="../assets/css/vendor/vendors.css">

		<link rel="stylesheet" href="../assets/css/main.css">

		<!--[if lt IE 9]>
		<script src="../assets/js/vendor/html5shiv.min.js"></script>
		<script src="../assets/js/vendor/respond.src.js"></script>
		<![endif]-->

	</head>
	<body>

		<!-- Header -->
		<header>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-2">
						<a href="/" class="logo" target="_parent" tabindex="-1"></a>
					</div>
					<div class="col-sm-4">
						<span class="subject">
							Preventivo auto <strong>FIAT CY971ML</strong>
						</span>
					</div>
					<div class="col-sm-4">
						<div class="header_convention">
							Preventivo con convenzione Croce Rossa Italiana
						</div>
					</div>
					<div class="col-sm-2">
						<div class="welcome">
							<span class="welcome_label">Benvenuto</span>
							<span class="welcome_user_name">Mario</span>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Page content -->
		<section class="page">
			<div class="container-fluid">

				<div class="formWrapper">
					<section class="form_step">
						<ul class="steps ul_inline three">
							<li class="current">
								<span>1. Dati polizza</span>
								<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								viewBox="0 0 315 47" enable-background="new 0 0 315 47" preserveAspectRatio="none"><path fill="#004595" d="M293,47H2c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h291l22,23.5L293,47z"/></svg>
							</li>
							<li>
								<span>2. Contatti</span>
								<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								viewBox="0 0 315 47" enable-background="new 0 0 315 47" preserveAspectRatio="none"><polygon fill="#004595" points="293,47 0,47 22,23.5 0,0 293,0 315,23.5 "/></svg>
							</li>
							<li>
								<span>3. Riepilogo Dati</span>
								<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								viewBox="0 0 315 47" enable-background="new 0 0 315 47" preserveAspectRatio="none"><path fill="#004595" d="M313,47H0l22-23.5L0,0h313c1.1,0,2,0.9,2,2v43C315,46.1,314.1,47,313,47z"/></svg>
							</li>
						</ul>
					</section>


					<section class="form_body">
						<form class="salva_preventivo_aggiuntivo_form custom_form" data-submit-path="ajax.php">

							<fieldset>
								<h3 class="border"><span>Dati intestatario aggiuntivo</span></h3>

								<div class="row">
									<div class="col-sm-6">

										<div class="row">
											<div class="col-sm-5"><label>Sesso intestatario</label></div>
											<div class="col-sm-6">
												<label class="radio radio-inline">
													<input id="sesso_intestatario_1" name="sesso_intestatario" aria-label="sesso_intestatario" type="radio" value="M" tabindex="0" checked="checked">
													<span class="label">Maschio</span>
												</label>
												<label class="radio radio-inline">
													<input id="sesso_intestatario_1" name="sesso_intestatario" aria-label="sesso_intestatario" type="radio" value="F" tabindex="0">
													<span class="label">Femmina</span>
												</label>
											</div>
										</div>

									</div>
								</div>

								<div class="row">

									<div class="col-sm-6">

										<div class="row">
											<div class="col-sm-5"><label>Nome</label></div>
											<div class="col-sm-6">
												<div class="input-group">
													<input type="text" id="nome" name="nome" class="required lettersonly form-control" placeholder="Mario" data-cf="nome" tabindex="0">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-5"><label>Cognome</label></div>
											<div class="col-sm-6">
												<div class="input-group">
													<input type="text" id="cognome" name="cognome" class="required lettersonly form-control" placeholder="Rossi" data-cf="cognome" tabindex="0">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-5"><label>Data di nascita del contraente</label></div>
											<div class="col-sm-6">
												<div class="input-group full-width-col">
													<input type="text" id="data-nascita" name="data-nascita" class="form-control input_date required dateFormat" placeholder="GG/MM/AAAA" data-datepicker data-date="01/04/2014" data-date-format="dd/mm/yyyy" data-dates-disabled="" data-date-days-of-week-disabled=""/>
													<div class="datepicker-opener"></div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-5"><label>Nazionalità</label></div>
											<div class="col-sm-6">
												<select id="nazione" name="nazione" tabindex="0" class="required">
													<option value="italia" selected>Italia</option>
													<option value="francia">Francia</option>
													<option value="germania">Germania</option>
													<option value="spagna">Spagna</option>
												</select>
											</div>
										</div>

									</div>

									<div class="col-sm-6">

										<div class="row">
											<div class="col-sm-5 col-sm-offset-1"><label>Comune di Nascita</label></div>
											<div class="col-sm-6">
												<div class="input-group">
													<input id="comunenascita" name="comunenascita" type="text" class="required autocomplete_comunenascita form-control" data-url="app/partials/jsons/data-esempio-comune.json" placeholder="Roma" data-cf="cittanascita" tabindex="0">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-5 col-sm-offset-1"><label>Codice fiscale</label></div>
											<div class="col-sm-6">
												<div class="input-group">
													<input type="text" class="required codicefiscale form-control" id="cf" name="cf" placeholder="RSS MRA 60A01 H501 Q" data-warning="Il codice non coincide con i tuoi dati" tabindex="0">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-5 col-sm-offset-1"><label>Professione</label></div>
											<div class="col-sm-6">
												<select id="professione" name="professione" tabindex="0" data-placeholder="Seleziona" class="required">
													<option value></option>
													<option value="libero professionista">Libero professionista</option>
													<option value="impiegato">Impiegato</option>
													<option value="operaio">Operaio</option>
													<option value="altro">Altro</option>
												</select>
											</div>
										</div>

									</div>

								</div>
							</fieldset>

							<fieldset class="indirizzo-residenza">
								<h4 class="border"><span>Indirizzo di residenza</span></h4>
								<div class="row">
									<div class="col-sm-2">
										<label>Indirizzo</label>
									</div>
									<div class="col-sm-10">
										<div class="row narrow">
											<div class="col-sm-2">
												<select id="address_type" name="address_type" tabindex="0" class="required">
													<option value="0069">Alzaia</option>
													<option value="0001">Baglio</option>
													<option value="0002">Bastioni</option>
													<option value="0003">Borgata</option>
													<option value="0070">Borgo</option>
													<option value="0007">Cala</option>
													<option value="0008">Calle</option>
													<option value="0009">Camin</option>
													<option value="0010">Campiello</option>
													<option value="0011">Campo</option>
													<option value="0012">Carruggio</option>
													<option value="0004">Cascina</option>
													<option value="0005">Cascine</option>
													<option value="0013">Circonvallazione</option>
													<option value="0014">Contrada</option>
													<option value="0015">Corso</option>
													<option value="0016">Corte</option>
													<option value="0017">Cortile</option>
													<option value="0018">Cupa</option>
													<option value="0021">Darsena</option>
													<option value="0019">Diramazione</option>
													<option value="0020">Discesa</option>
													<option value="0022">Fondaco</option>
													<option value="0023">Fondamenta</option>
													<option value="0024">Fondo</option>
													<option value="0072">Fontanelle</option>
													<option value="0025">Frazione</option>
													<option value="0026">Galleria</option>
													<option value="0027">Gradini</option>
													<option value="0028">Isola</option>
													<option value="0029">Largo</option>
													<option value="0030">Lido</option>
													<option value="0034">Localita</option>
													<option value="0036">Lungo</option>
													<option value="0035">Lungoargine</option>
													<option value="0031">Lungofiume</option>
													<option value="0032">Lungolago</option>
													<option value="0033">Lungomare</option>
													<option value="0073">Nucleo</option>
													<option value="0040">Palazzo</option>
													<option value="0041">Parco</option>
													<option value="0042">Passaggio</option>
													<option value="0039">Piazza</option>
													<option value="0037">Piazzale</option>
													<option value="0038">Piazzetta</option>
													<option value="0043">Podere</option>
													<option value="0044">Porto</option>
													<option value="0006">Presso</option>
													<option value="0045">Prolungamento</option>
													<option value="0046">Quartiere</option>
													<option value="0047">Ramo</option>
													<option value="0048">Regione</option>
													<option value="0049">Residenza</option>
													<option value="0050">Rione</option>
													<option value="0051">Ripa</option>
													<option value="0052">Riviera</option>
													<option value="0054">Salita</option>
													<option value="0055">Sestiere</option>
													<option value="0056">Spalto</option>
													<option value="0053">Strada</option>
													<option value="0057">Supportico</option>
													<option value="0058">Tenuta</option>
													<option value="0059">Traversa</option>
													<option value="0060">Vallone</option>
													<option value="0061" selected>Via</option>
													<option value="0064">Viale</option>
													<option value="0063">Vico</option>
													<option value="0062">Vicolo</option>
													<option value="0066">Villaggio</option>
													<option value="0068">Villaggio</option>
													<option value="0065">Viuzzo</option>
													<option value="0071">Vocabolo</option>
													<option value="0067">Zona</option>
												</select>
											</div>
											<div class="col-sm-5">
												<div class="input-group">
													<input type="text" class="autocomplete_via required form-control" id="indirizzo" name="indirizzo" data-url="app/partials/jsons/data-esempio-indirizzo.json" placeholder="es. Giosuè Carducci" tabindex="0">
												</div>
											</div>
											<div class="col-sm-2">
												<div class="input-group">
													<input type="text" class="required ncivico form-control" id="n_civico" name="n_civico" placeholder="es. 3" tabindex="0">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-2">
										<label><a data-toggle="modal" data-target=".help1"><i class="help-icon"></i></a> Edificio</label>
									</div>
									<div class="col-sm-4">
										<div class="input-group">
											<input id="edificio" name="edificio" type="text" class="form-control" placeholder="es. Azienda S.r.l. (opzionale)" tabindex="0">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-2">
										<label>Località</label>
									</div>

									<div class="col-sm-4">
										<!-- <span class="form_read_only">Pino sulla sponda del lago maggiore</span> -->
										<div class="selectwrap">
											<select data-placeholder="Scegli la localit&agrave;" id="selHamlet" name="selHamlet" class="required" tabindex="0">
												<option value></option>
												<option value="5432">ROMA</option>
												<option value="22431">PANTANO BORGHESE</option>
												<option value="26695">CESANO STAZIONE</option>
												<option value="26696">CORDOLLE</option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-2">
										<label>CAP</label>
									</div>
									<div class="col-sm-2">
										<div class="input-group">
											<input type="text" placeholder="es. 00118" class="required cap form-control" id="cap" name="cap" tabindex="0" >
										</div>
									</div>
								</div>

							</fieldset>

							<fieldset>
								<h3 class="border"></h3>
								<div class="row">
									<div class="col-sm-2"><label>Il contraente coincide con</label></div>
									<div class="col-sm-10">
										<label class="radio radio-inline">
											<input id="contraente_1" name="contraente" aria-label="contraente" type="radio" value="mario rossi" tabindex="0" checked="checked">
											<span class="label">Mario Rossi</span>
										</label>
										<label class="radio radio-inline">
											<input id="contraente_2" name="contraente" aria-label="contraente" type="radio" value="intestatario aggiuntivo" tabindex="0" checked="checked">
											<span class="label">Intestatario aggiuntivo</span>
										</label>
										<label class="radio radio-inline">
											<input id="contraente_3" name="contraente" aria-label="contraente" type="radio" value="altro soggetto" tabindex="0" checked="checked">
											<span class="label">Altro soggetto</span>
										</label>
									</div>
								</div>
							</fieldset>

							<div class="stickPoint">
								<div class="form_controls sticker">
									<div class="wrap">
									<div class="row">
										<div class="col-sm-3">
											<button class="btn btn-primary btn-submit btn-allcaps indietro inactive" type="button" tabindex="-1"><span>&#8249;</span> Indietro</button>
										</div>
										<div class="col-sm-3 col-sm-offset-6">
											<button class="btn btn-primary btn-submit btn-allcaps" type="submit" tabindex="0">Prosegui <span>&#8250;</span></button>
										</div>
									</div>
									</div>
								</div>
							</div>

						</form>
					</section>

					<div id="social_btn">
						<h3>Hai risparmiato con noi? Consigliaci ai tuoi amici!</h3>
						<div class="social-frame">
							<iframe class="likebtn" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DrYQeYlt744A&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=354484048001877&amp;locale=en_US" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
						</div>
						<div class="social-frame">
							<div class="g-plusone" data-size="medium" data-annotation="bubble" data-href="http://www.youtube.com/watch?v=rYQeYlt744A"></div>
						</div>
						<div class="social-frame">
							<a href="https://twitter.com/share" class="twitter-share-button" data-via="twitterapi" data-lang="en">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
					</div>

				</div>
			</div>
		</section>



		<!-- MODAL -->

		<div class="modal fade help1" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn btn-default close" data-dismiss="modal"><span class="glyphicon glyphicon-cross"></span><span class="sr-only">Close</span></button>
						<strong class="modal-title"><h2>Edificio</h2></strong>
					</div>
					<div class="modal-body">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Scripts -->
		<script src="../assets/js/vendor/jquery.min.js"></script>
		<script src="../assets/js/vendor/modernizr-2.6.2.min.js"></script>

		<script src="../assets/toolkit/bootstrap.js"></script>


		<script src="../assets/js/vendor/chosen.jquery.min.js"></script>
		<script src="../assets/js/vendor/jquery.maskedinput.js"></script>
		<script src="../assets/js/vendor/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="../assets/js/vendor/jquery.validate.min.js"></script>

		<script src="../assets/js/validate.methods.js"></script>

		<!-- Autocomplete Codice Fiscale -->
		<script src="../assets/js/codfiscale.js"></script>

		<script src="../assets/js/validation.init.js"></script>
		<script src="../assets/js/main.js"></script>

		<script src="../assets/js/responsive-iframe-send.js"></script>

	</body>
</html>
