<script>
var __BANKS__ =
[{"Descrizione":"BARCLAYS","dataCode":"B1"},{"Descrizione":"UNICREDIT","dataCode":"B2"},{"Descrizione":"INTESA SAN PAOLO","dataCode":"B3"}];
</script>
<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<a href="/" class="logo" target="_parent" tabindex="-1"></a>
			</div>
			<div class="col-sm-4">
				<span class="subject">
					Preventivo auto <strong>FIAT CY971ML</strong>
				</span>
			</div>
			<div class="col-sm-4">
				<div class="header_convention">
					Preventivo con convenzione Croce Rossa Italiana
				</div>
			</div>
			<div class="col-sm-2">
				<div class="welcome">
					<span class="welcome_label">Benvenuto</span>
					<span class="welcome_user_name">Mario</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Page content -->
<section class="page">
	<div class="container-fluid">

		<div class="formWrapper">
			<section class="form_step">
				<ul class="breadcrumb steps ul_inline three">
					<li class="current">
						<span>1. Tipo di Pagamento</span>
						<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 315 47" enable-background="new 0 0 315 47" preserveAspectRatio="none"><path fill="#004595" d="M293,47H2c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h291l22,23.5L293,47z"/></svg>
					</li>
					<li>
						<span>2. Pagamento</span>
						<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 315 47" enable-background="new 0 0 315 47" preserveAspectRatio="none"><polygon fill="#004595" points="293,47 0,47 22,23.5 0,0 293,0 315,23.5 "/></svg>
					</li>
					<li>
						<span>3. Conferma Acquisto</span>
						<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 315 47" enable-background="new 0 0 315 47" preserveAspectRatio="none"><path fill="#004595" d="M313,47H0l22-23.5L0,0h313c1.1,0,2,0.9,2,2v43C315,46.1,314.1,47,313,47z"/></svg>
					</li>
				</ul>
			</section>

			<section class="headmessage">
				<div class="row">
					<div class="col-md-4">
						<h6>prezzo per te</h6>
						<b class="price">1.150,00 <span>€/anno</span></b>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="alert alert-danger alert-danger-info" role="alert">
							<p>Il premio del preventivo è subordinato alla verifica della documentazione sotto richiesta. Il preventivo è pagabile solo se la documentazione perviene preliminarmente al pagamento del premio completa, leggibile e congruente per poter consentire l’emissione della polizza. Se la documentazione non è confermata riceverai una richiesta di ricontatto da parte nostra e il premio del preventivo potrebbe cambiare.<br>
								Quando riceverai nostra conferma tramite sms o e-mail effettua il pagamento.</p>
								<p>Di seguito ti elenchiamo i documenti da inviare al numero di fax 02/00643600 o all’indirizzo e-mail <a href="mailto:documenti@genialloyd.it">documenti@genialloyd.it</a>:</p>
								<h5 class="alert-headline"><span class="glyphicon glyphicon-error"></span> Carta d'identità</h5>
								<h5 class="alert-headline"><span class="glyphicon glyphicon-error"></span> Fronte/retro attestato di rischio</h5>
							</div>
						</div>
					</div>

					<!-- <h3 class="border"><span>Informazioni</span></h3> -->
					<div class="row">
						<div class="col-md-12">
							<div class="text">
								<p>La polizza decorre dalle ore <strong>24,00</strong> del <span class="date">30/05/2015</span>.<br/>La polizza avrà decorrenza ed effetto a partire dalle ore 24,00 della data indicata a condizione che entro tale data tu abbia provveduto al pagamento del premio; altrimenti l’effettiva validità delle garanzie decorrerà dalle ore 24,00 del giorno di pagamento del premio. Se desideri modificare la data di decorrenza, accedi alla tua <a href="#">Area Personale</a>. In caso di modifica della data di decorrenza il premio potrebbe cambiare.</p>
							</div>
						</div>
					</div>
				</section>

				<section class="form_body">
					<form class="pagamento_form custom_form" data-submit-path="ajax_test.php">

						<fieldset>
							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-4"><label>Inserisci la targa dell'automobile o controllane la correttezza</label></div>
										<div class="col-md-4">
											<div class="input-group">
												<input type="text" class="form-control required targaitaliana" id="targa" name="targa" placeholder="AA 123 BB" tabindex="0" >
											</div>
										</div>
									</div>
								</div>
							</div>
						</fieldset>

						<section class="informazioni">
							<!-- <h3 class="border"><span>Dichiarazioni del contraente</span></h3> -->
							<div class="row">
								<div class="col-sm-12">
									<a href="javascript: false;" class="dichiarazione btn btn-primary btn-allcaps" data-toggle="modal" data-target=".js-overlay">Dichiarazioni del contraente</a>
									<div class="checkbox">
										<label>
											<input type="checkbox" id="accettazione" name="accettazione" />
											<span>Presa visione e accettazione delle dichiarazioni del contraente.</span>
										</label>
									</div>
								</div>
							</div>
						</section>

						<h3 class="border"><span>Modalità di pagamento</span></h3>
						<fieldset>
							<div class="row">
								<div class="col-md-12">
									<label class="radio radio-inline pagamento">
										<input id="payment-creditcard" name="payment" type="radio" value="creditcard" tabindex="0" checked>
										<span class="label">&nbsp;</span>
										<img class="img-responsive" src="app/img/pay-opt-1.png" alt="" class="payment-ico">
									</label>
									<label class="radio radio-inline pagamento">
										<input id="payment-paypal" name="payment" type="radio" value="paypal" tabindex="0">
										<span class="label">&nbsp;</span>
										<img class="img-responsive" src="app/img/pay-opt-2.png" alt="" class="payment-ico">
									</label>
									<label class="radio radio-inline pagamento">
										<input id="payment-mybank" name="payment" type="radio" value="mybank" tabindex="0" data-show="#mybank">
										<span class="label">&nbsp;</span>
										<img class="img-responsive" src="app/img/pay-opt-3.png" alt="" class="payment-ico">
									</label>
									<label class="radio radio-inline pagamento">
										<input id="payment-lispaga" name="payment" type="radio" value="lispaga" tabindex="0" data-show="#lispaga">
										<span class="label">&nbsp;</span>
										<img class="img-responsive" src="app/img/pay-opt-4.png" alt="" class="payment-ico">
									</label>
								</div>
							</div>
						</fieldset>


						<!-- MyBank -->

						<div id="mybank" class="hidden-field">
							<div class="row">
								<div class="col-md-12">
									<div class="alert alert-info" role="alert">
										<p><strong>Attenzione!</strong></p>
										<p><strong>Per perfezionare il pagamento</strong> con MyBank, una volta effettuato il pagamento sul sito della tua banca, dovrai seguire le istruzioni e <strong>ritornare sul sito di Genialloyd. Hai a disposizione 30 minuti per effettuare il bonifico</strong> con MyBank. Se cambi idea sulla modalità di pagamento dovrai attendere 30 minuti prima di poter scegliere una nuova modalità di acquisto.</p>
										<br/>
										<p>Inizia a digitare il nome della tua banca nel campo sottostante, selezionala e clicca su "Acquista". Se la tua banca non è presente nell'elenco significa che non è nel circuito MyBank. Ti consigliamo di scegliere un'altra modalità di pagamento tra quelle sopra elencate.</p>
										<br/>

										<fieldset>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-4">
															<div class="input-group">
																<input type="text" class="form-control autocomplete_miabanca" data-autocomplete-banca name="miabanca" data-cf="miabanca" placeholder="La mia banca" tabindex="0">
															</div>
														</div>
													</div>
												</div>
											</div>
										</fieldset>

									</div>
								</div>
							</div>
						</div>


						<!-- LisPaga -->

						<div id="lispaga" class="hidden-field">
							<div class="row">
								<div class="col-md-12">
									<div class="alert alert-info" role="alert">
										<p>Puoi acquistare la tua polizza recandoti in una ricevitoria con il codice a barre che trovi sul retro del preventivo che ti abbiamo inviato. Il pagamento verrà registrato automaticamente e immediatamente.</p>
									</div>
								</div>
							</div>
						</div>


						<!-- FINESTRAL MODALE -->

						<div class="modal fade js-overlay" tabindex="-1" role="dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="btn btn-default close" data-dismiss="modal"><span class="glyphicon glyphicon-cross"></span><span class="sr-only">Close</span></button>
										<strong class="modal-title">Dichiarazione del contraente</strong>
									</div>
									<div class="modal-body">
										<ol>
											<li>Che le informazioni fino ad ora fornite sono state rese nella <strong>piena consapevolezza</strong> che la loro inesattezza o incompletezza potrà comportare la riduzione o l'annullamento delle prestazioni assicurative conseguenti al pagamento, così come previsto dalla legge.</li>
											<li>Di aver rilasciato <strong>sotto la mia responsabilità</strong> tutte le informazioni raccolte per il contratto, che sarà mia cura controfirmare non appena mi verrà inviato, anche qualora tali informazioni fossero state inserite da una terza persona, che abbia agito in mio nome e per mio conto.</li>
											<li>Di aver ricevuto e memorizzato su supporto duraturo il <strong>Fascicolo Informativo,</strong> la Nota Informativa ivi inclusa e di conoscere ed approvare il contenuto</li>
											<li>Di aver ricevuto la <strong>Nota informativa sulla privacy</strong></li>
											<li>Di essere consapevole che il premio indicato nel preventivo che hai ricevuto è subordinato alla <strong>verifica della documentazione,</strong> se richiesta. Nel caso fossero richiesti documenti aggiuntivi, inviali a <a href="mailto:documenti@genialclick.it">documenti@genialclick.it</a></li>
										</ol>
									</div>
								</div>
							</div>
						</div>


						<div class="stickPoint">
							<div class="form_controls sticker">
								<div class="wrap">
									<div class="row">
										<div class="col-md-3">
											<button class="btn btn-primary btn-submit btn-allcaps indietro inactive" type="button" tabindex="-1"><span>&#8249;</span> Indietro</button>
										</div>
										<div class="col-md-3 col-md-offset-6">
											<button onclick="location.hash='/conferma-acquisto';" class="btn btn-primary btn-submit btn-allcaps" type="submit" tabindex="0">Acquista <span>&#8250;</span></button>
											<h6 class="sub-button">Procedi al pagamento</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</section>

				<section class="text legal">
					<div class="row">
						<div class="col-md-12">
							<p class="notice">Consulta la nota informativa (ai sensi di legge), il fascicolo informativo e la Nota Informativa sulla Privacy (D. Lgs n. 196/03).</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

	<script src="app/partials/js/main.js"></script>


	<script>
		$('input[type="radio"]').on('change', function() {
			$('.hidden-field').slideUp();
			var show_id = $(this).attr("data-show");
			$('data-show').slideDown();
		});

		$('.dichiarazione.btn').on('click', function() {
			$('#accettazione').addClass('read');
		});

		$('#accettazione').on('change', function(event) {
			if(this.checked) {
				if(!$(this).hasClass('read')) {
					$('.dichiarazione.btn').trigger('click');
					return;
				}
			}
		});
	</script>
